/*Styling for index.html*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eef0ed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, p, li {
    color: #323232;
}

.header-container {
    max-width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.h1-homepage {
    border-bottom: 4px solid #afafaf;
    text-transform: uppercase;
    font-size: 9rem;
}

.recipes-list {
    margin-top: 0.575em;
    font-size: 2rem;
    list-style: none;
    line-height: 1.5em;
}

ul li a {
    color: #323232;
    text-decoration: none;
}

/*Styling for sticky-chicken-wings.html, macncheese.html, chocolate-pudding.html*/
.h1-recipe-pages {
    font-size: 3rem;
}

h2, h3, h4, h5 {
    font-size: 2rem;
}

p, ol, .note, .ingredients-list, .return-home {
    font-size: 1.25rem;
}

.note {
    font-weight: 800;
}


